.cards{
    height: inherit;
    min-width: 100px;
    text-align: center;
    margin-right: 2px;
}

.cards img{
    width: 60px;
}

.cards h4{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;

}